header{
    background-color: #2c3e50;
    padding: 20px 0;
}

header .navbar a{
    color: white;
}

/* fine header */

#jumbo{
    background-color: #1abc9c;
    color: white;
}

#jumbo h2{
    font-size: 36px;
    font-weight: bold;
}

.avatar img{
    width: 200px;
}

.sp-white{
    color: white;
    font-size: 30px;
}

.sp-blu{
    font-size: 30px;
    color: #2c3e50;

}

.menu span{
    font-size: 20px;
}

.square img{
    max-width: 100%;
    border-radius: 10px;
}

/* fine jumbo */

.portfolio h2{
    color: #333333;
    font-size: 28px;
}

.about{
    color: white;
    background-color: #1abc9c;
}

.col-sm-5 p, .col-lg-4 p{
    font-size: 18px;
}

.button{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    padding: 8px;
}

.send{
    background-color: #1abc9c;
    color: white;
}

/* inizio footer */

footer{
    background-color: #3a546d;
}

footer h2, footer p{
    color: white;
    font-size: 18px;
}

footer h2{
    font-size: 24px;
}

.fa-brands{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 14px;
    font-size: 20px;
}

#color{
    color: #1daf95;
}

.copy{
    background-color: #2c3e50;

}

.copy h4{
    color: white;
    font-size: 14px;
}

.fa-copyright{
    font-size: 10px;
}
