header{
    background-color: brown;
    height: 100px;
}

.jumbo{
    background-color: blue;
    height: 300px;
}

.titolo{
    text-align: center;
}

.portfolio{
    text-align: center;
    background-color: aquamarine;
}

.about{
    min-height: 400px;
}

.item{
    min-height: 200px;

}

.contact{
    text-align: center;
}

.location{
    background-color: blue;
    min-height: 200px;
}



/* Debug */
[class*="col"]{
    border: 1px solid black;
    background-color: rgb(164, 164, 164);
}